.hero{
    display: flex;
    margin-top: 3rem;
}

aside{
    width: 10%;
    padding: 20px 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: none;
    border-right: 1px solid  rgb(224, 224, 224) ;
    border-top: 1px solid rgb(224, 224, 224);
}
a{
    color: grey;
    font-size: 1.6rem;
}

.wrapper{
    width: 90%;
}


.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border: none;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
}

.wrapper-left a{
    padding: 10px 20px ;
    text-transform: capitalize;
}

.active{
    border: none;
    border-bottom: 2px solid blue;
}


.wrapper-right{
    display: flex;
    gap: 20px;
    color: grey;
    
}


.wrapper-right i{
    font-size: 1.8rem;
}